@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
/*a:hover { text-decoration:underline; } */
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }

html,body{
	width: 100%;
	/*height: 100%;*/
	margin: 0 auto;
	display: flex;
	background: #1F2025;
	font-size: 40px;	
}
header{
	width: 100%;
	height: 0.55rem;
	/*border: 0.025rem solid #fff;*/
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
}
header .signal{
	width: 15%;
	height: 100%;
	/*border: 0.025rem solid #fff;*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #fff;
	font-size: 0.2rem;
}
header .signal img{
	width: 68%;
	height: 34%;
}
header .signal img:nth-child(2){
	width: 23%;
	height: 54%;
}
header span{
	display: block;
	color: #fff;
	font-size: 0.2rem;
	width: 15%;
	height: 100%;
	/*border: 0.025rem solid #fff;*/
	display: flex;
	align-items: center;
}
header .signa2{
	width: 15%;
	height: 100%;
	/*border: 0.025rem solid #fff;*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #fff;
	font-size: 0.2rem;
}
header .signa2 img{
	width: 43%;
	height: 40%;
}
section{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column; 
}
section .banner{
	width: 100%;
	height: 3.6rem;
	/*border: 0.025rem solid #fff;*/
	display: flex;
	background: url(../imgs/back.jpg);
	background-size: 100% 100%; 

}
section .banner p{
    padding-top:0.5rem; 
    padding-left: 1.7rem;
	font-size: 0.4rem;
	letter-spacing: 0.025rem;
	background: linear-gradient(to right, #55A3E3, #74E16A);
	color: transparent;
	-webkit-background-clip: text;
}
section .banner p span{
	padding-top: 0.2rem; 
	display: block;
	font-size: 0.45rem;
}
nav{
	display: flex;
	/*margin-top: 0.15rem;*/
	width: 100%;
	height: 1.2rem;
	/*border: 0.025rem solid #fff;*/
}
nav ul{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}
nav ul li{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 20%;
	height: 100%;
	/*border: 0.025rem solid red;*/
	font-size: 0.2rem;
	color: #999;
	text-align: center;
}
nav ul li a{
	width: 47%;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav ul li a img{
	width: 90%;
	
}
.dong{
	box-sizing: border-box;
	margin-top: 0.1rem;
	width: 100%;
	height: 1rem;
	border-top: 0.03rem solid #18191D;
	border-bottom: 0.03rem solid #18191D;
	display: flex;
	justify-content: space-around;
	/*align-items: center;*/

}
.dong p{
	font-size: 0.35rem;
	color: #9D9EA0;
	width: 22%;
	height:100% ;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dong p:nth-child(1){
	background: linear-gradient(to left, #55A3E3, #74E16A);
	color: transparent;
	-webkit-background-clip: text;
	border-bottom: 0.03rem solid #46646E;
}
.share{
	box-sizing:border-box;
	margin-top: 0.2rem;
	width: 100%;
	height: 2.875rem;
	border-bottom: 0.03rem  solid #18191D;
	display: flex;
	justify-content: space-around;
}
.share .photo{
	width: 35%;
	height: 100%;
	/*border: 0.025rem solid #000;*/
}
.share .photo img{
	margin-left: 0.1rem;
	width: 92%;
	height: 86%;
}
.share .shuo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 100%;
	/*border: 0.025rem solid #fff;*/
}
.share .shuo span{
	display: flex;
	display: block;
	/*justify-content: center;*/
	/*align-items: center;*/
	font-size: 0.3rem;
	color: #9D9EA0;
}
.share .shuo span p{
	font-size: 0.25rem;
	color: #9D9EA0;
}
.interaction{
	width: 100%;
	height: 1rem;
	border-bottom: 0.025rem solid #18191D;
	/*box-shadow: 0 0.025rem 0 rgba(255,255,255,0.2) inset,0 -0.025rem  0 rgba(0,0,0,.2) inset;*/
}
.interaction ul{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}
.interaction ul li{
	width: 10%;
	height: 100%;
	display: flex;
	align-items: center;
}
.interaction ul li a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.interaction ul li a img{
	width: 67%;
}


footer{
	display: flex;
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
	height: 0.9rem;
	background: #33363D;
}
footer ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 0.9rem;
}
footer ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
	height: 0.9rem;
	/*border: 0.025rem solid #fff;*/
}
footer ul li a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
footer ul li a p{
	font-size: 0.20rem;
	color: #888;
}

footer ul li a img{
	width: 66%;
}

footer ul li:nth-child(2) p {
	color: #fff;
}
footer ul li:nth-child(1) img {
	opacity: 0.4
}

footer ul li:nth-child(3) img{
	opacity: 0.4;
}

footer ul li:nth-child(4) img{
	opacity: 0.4;
}














@media only screen and (min-width: 320px) {
  html {
    font-size: 40px !important; } }
@media only screen and (min-width: 360px) {
  html {
    font-size: 45px !important; } }
@media only screen and (min-width: 375px) {
  html {
    font-size: 50px !important; } }
@media only screen and (min-width: 412px) {
  html {
    font-size: 55px !important; } }
@media only screen and (min-width: 414px) {
  html {
    font-size: 55px !important; } }
@media only screen and (min-width: 750px) {
  html {
    font-size: 90px !important; } }
@media only screen and (min-width: 768px) {
  html {
    font-size: 90px !important; } }
@media only screen and (min-width: 1024px) {
  html {
    font-size: 125px !important; } }


 @media only screen and (min-width: 1920px) {
  html{
    font-size: 125px !important;
    width: 800px;
    /*height: 600px;*/
    margin:0 auto;
 } 
}
