@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
/*a:hover { text-decoration:underline; } */
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }

html,body{
	width: 100%;
	/*height: 100%;*/
	margin: 0 auto;
	display: flex;
	background: #1F2025;
	font-size: 40px;	
}
header{
	width: 100%;
	height: 0.55rem;
	/*border: 0.025rem solid #fff;*/
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
}
header .signal{
	width: 15%;
	height: 100%;
	/*border: 0.025rem solid #fff;*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #fff;
	font-size: 0.2rem;
}
header .signal img{
	width: 68%;
	height: 34%;
}
header .signal img:nth-child(2){
	width: 23%;
	height: 54%;
}
header span{
	display: block;
	color: #fff;
	font-size: 0.2rem;
	width: 15%;
	height: 100%;
	/*border: 0.025rem solid #fff;*/
	display: flex;
	align-items: center;
}
header .signa2{
	width: 15%;
	height: 100%;
	/*border: 0.025rem solid #fff;*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #fff;
	font-size: 0.2rem;
}
header .signa2 img{
	width: 43%;
	height: 40%;
}
section{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column; 
}
section .banner{
	position: relative;
	width: 100%;
	height: 3.8rem;
	/*border: 0.025rem solid #fff;*/
	display: flex;
	/*background: url(../imgs/city.jpg);
	background-size: 100% 100%; 
	opacity: 0.8;*/
}
section .banner img{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}
section .banner .tou{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	margin-top: 0.5rem;
	width: 100%;
	height: 90%;
	/*border: 1px solid red;*/
}
section .banner .tou>img{
	position: relative;
	width: 30%;
	height: 64%;
	border-radius: 50%;
	opacity: 1;
	border: 0.025rem solid #ccc;
}
section .banner .tou p{
	width: 80%;
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 0.4rem;
	align-items: center;
	background: linear-gradient(to right, #55A3E3, #74E16A);
	color: transparent;
	-webkit-background-clip: text;
	/*border: 1px solid #000;*/
}
section .banner .tou p span{
	display: flex;
	justify-content: center;
	/*border: 1px solid #000;*/
	width: 60%;
	/*text-align: center;*/
	font-size: 0.2rem;
}
section .banner .tou p span img{
	/*display: flex;
	flex-direction: column;*/
	width: 5%;
	height: 33%;
}










section .item{
	width: 100%;
	height: 2rem;
	/*border: 1px solid #fff;*/
	background: #25262B;
}
section .item .active{
	width: 100%;
	height: 0.6rem;
	/*border: 1px solid red;*/
}
section .item .active ul{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
section .item .active ul li{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.3%;
	height: 60%;
	/*border: 1px solid yellow;			*/
}
section .item .active ul li a{
	letter-spacing: 0.05rem;
	font-size: 0.28rem;
	background: linear-gradient(to right, #55A3E3, #74E16A);
	color: transparent;
	-webkit-background-clip: text;
}
section .item .active ul li:nth-child(2){
	border-left: 0.025rem solid #79AFA8;
	border-right: 0.025rem solid #79AFA8;
}
section .item .item2{
	width: 100%;
	height: 1.4rem;
	/*border: 1px solid blue;*/
}
section .item .item2 ul{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
section .item .item2 ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 19%;
	height: 100%;
	/*border: 1px solid yellow;*/	
}
section .item .item2 ul li a{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
section .item .item2 ul li a img{
	width: 45%;
	/*height: 100%;*/
}
section .item .item2 ul li a p{
	color: #ccc;
	font-size: 0.2rem;
}
section .my{
	/*display: flex;*/
	margin-top:0.3rem; 
	width: 100%;
	height: 2.8rem;
	/*border: 1px solid #fff;*/
	background: #25262B;
}
section .my ul{
	width: 100%;
	height: 100%;
}
section .my ul li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 32.1%;
	border-bottom: 0.025rem solid #4A4B4F;
}
section .my ul li p{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 100%;
	font-size: 0.28rem;
	color: #D0D1D2;
}
section .my ul li p:nth-child(2){
	width: 20%;
	height: 100%;
	/*border: 1px solid #000;*/
}
section .my ul li img{
	width: 28%;
	height: 28%;
}
section .my2{
	margin-top:0.3rem; 
	width: 100%;
	height: 1.8rem;
	/*border: 1px solid #fff;*/
	background: #25262B;
}
section .my2 ul{
	width: 100%;
	height: 100%;
}
section .my2 ul li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 49.3%;
	border-bottom: 0.025rem solid #4A4B4F;
}
section .my2 ul li p{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 100%;
	font-size: 0.28rem;
	color: #D0D1D2;
}
section .my2 ul li p:nth-child(2){
	width: 20%;
	height: 100%;
	/*border: 1px solid #000;*/
}
section .my2 ul li img{
	width: 28%;
	height: 28%;
}


footer{
	display: flex;
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
	height: 0.9rem;
	background: #33363D;
}
footer ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 0.9rem;
}
footer ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
	height: 0.9rem;
	text-align: center;
}
footer ul li a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

footer ul li a p{
	font-size: 0.20rem;
	color: #888;
}

footer ul li a img{
	width: 66%;
}


footer ul li:nth-child(1) img {
	
	opacity: 0.4;
}

footer ul li:nth-child(2) img{
	opacity: 0.4;
}
footer ul li:nth-child(3) img{
	opacity: 0.4;
}
footer ul li:nth-child(4) p{
	color: #fff;
}










@media only screen and (min-width: 320px) {
  html {
    font-size: 40px !important; } }
@media only screen and (min-width: 360px) {
  html {
    font-size: 45px !important; } }
@media only screen and (min-width: 375px) {
  html {
    font-size: 50px !important; } }
@media only screen and (min-width: 412px) {
  html {
    font-size: 55px !important; } }
@media only screen and (min-width: 414px) {
  html {
    font-size: 55px !important; } }
@media only screen and (min-width: 750px) {
  html {
    font-size: 90px !important; } }
@media only screen and (min-width: 768px) {
  html {
    font-size: 90px !important; } }
@media only screen and (min-width: 1024px) {
  html {
    font-size: 125px !important; } }



 @media only screen and (min-width: 1920px) {
  html{
    font-size: 125px !important;
    width: 800px;
    /*height: 600px;*/
    margin:0 auto;
 } 
}
